.container1,
.container2,
.container3 {
    width: 100%;
    position: absolute;
    top: -70px;
    bottom: 0;
    z-index: -2;
    height: fit-content;
    background: no-repeat;
    background-size: cover;
    background-position: center;
}

.container1 {
    background-image: url("../../asset/images/home-background.jpg");
}

.container2 {
    background-image: url("../../asset/images/home-background-2.jpg");
}
.container3 {
    background-image: url("../../asset/images/home-background-3.jpg");
}

#main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    min-height: calc(100vh + 70px);
}
