* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #fff;
  --icon-color: rgb(34, 199, 240);
  --hover-color: rgb(40, 177, 211);
}

html {
  font-family: "Baloo 2", Arial, sans-serif;
  font-size: 20px;
  color: var(--main-color);
  width: 100%;
}

@keyframes onloadxtoright {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes onloadxtoleft {
  0% {
    transform: translateX(30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes onloadytotop{
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes onloadytobottom{
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
